.todolist {
  padding: 0, 20px;
  /* background: rgba(255, 255, 255, 0.1); */
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: #11ff04;
}
