.formblock {
  padding: 0 20px;
  background: rgb(0, 0, 0);

  border-radius: 20px;

  /* backdrop-filter: blur(20px); */
  box-shadow: -15px 17px 17px rgba(171, 171, 171, 0.25);

  position: relative;

  width: calc(100% - 4px);
  height: calc(100% - 4px);
}

.glow::before,
.glow::after {
  border-radius: 20px;
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  /* width: calc(60vw + 5vh);
  height: calc(5vw + 5vh); */
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;

  animation: animate-box-border 20s linear infinite;
}

@keyframes animate-box-border {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow::after {
  filter: blur(50px);
  opacity: 0.8;
}
