@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --x: 45deg;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  /* background: #0e1538; */
}

/* styles with <a></a> */

.todo-button {
  position: relative;
  width: 150px;
  height: 55px;
  display: inline-block;
  border-radius: 5px;
}

.todo-button i {
  position: absolute;
  inset: -2px;
  display: block;
  border-radius: 5px;
}

.todo-button i,
.todo-button i:nth-child(2) {
  background: linear-gradient(var(--x), #00ccff, #0e1538, #0e1538, #d400d4);
}

.todo-button i:nth-child(2) {
  filter: blur(10px);
  opacity: 0.8;
  /*
  transition: 0.5s; */
}

.todo-button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  border: 1px solid#040a29;
  border-radius: 3px;
  background: rgba(14, 21, 56, 0.65);
  overflow: hidden;
}

.todo-button span::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.075);
  transform: skew(25deg);
}


.todo-button {
  position: relative;
  width: 150px;
  height: 55px;
  display: inline-block;
  border-radius: 5px;
}

.todo-button i {
  position: absolute;
  inset: -2px;
  display: block;
  border-radius: 5px;
}

.todo-button i,
.todo-button i:nth-child(2) {
  background: linear-gradient(var(--x), #00ccff, #0e1538, #0e1538, #d400d4);
}

.todo-button i:nth-child(2) {
  filter: blur(10px);
  opacity: 0.8;
  /*
  transition: 0.5s; */
}

.todo-button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  border: 1px solid#040a29;
  border-radius: 3px;
  background: rgba(14, 21, 56, 0.65);
  overflow: hidden;
}

.todo-button span::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.075);
  transform: skew(25deg);
}
