@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Poppins&display=swap");

.Topheader {
  /* border: 2px solid green; */
  background: transparent;
  position: absolute;
  z-index: 1;
}

.Topheader .AppName {
  background-image: linear-gradient(to bottom, #ffd700, #ff2600);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-style: Oswald;
  backdrop-filter: blur(10px);
  padding: 5px;
  /* border: 1px solid #fff; */
  border-radius: 20px;
}

/* logout button  */
.Topheader .logout_button {
  background: transparent;
  width: auto;
  outline: none;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.5);
  border: 1px solid rgba(255, 0, 0, 0.5);
}
.Topheader .logout_button:hover,
.Topheader .logout_button:focus {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 30px rgba(255, 0, 0, 0.5),
    0 0 40px rgba(255, 0, 0, 0.3);
}

.Topheader .account_name {
  background-image: linear-gradient(to bottom, #00ff3c, #fbff06);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-style: Oswald;
}

/* Spinner  */

.Topheader .blur-background {
  background-color: black;
  filter: blur(15px); /* Adjust the blur amount as needed */
  transition: filter 0.2s;
}

.Topheader .spinnersContainer {
  position: absolute;
  top: 50%;
  left: 50%;
}

.Topheader .spinner1,
.Topheader .spinner2 {
  width: 10em;
  height: 10em;
  border-top: 0.8em solid #00ff1e;
  border-right: 0.8em solid transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-duration: 1s; /* Adjust the animation duration */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.Topheader .spinner1 {
  animation-name: spin1;
}

.Topheader .spinner2 {
  animation-name: spin2;
  animation-delay: -0.5s; /* Delay by half of the animation duration */
}

.Topheader .circle1,
.Topheader .circle2 {
  width: 0.8em;
  height: 0.8em;
  background-color: #1aff00;
  border-radius: 50%;
  position: absolute;
  margin-left: 7.8em;
  margin-top: 0.5em;
}

@keyframes spin1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.Topheader .blur {
  background-color: black; /* Adjust the blur amount as needed */
  transition: filter 3s;
}
